.CalculatePage_Btn0 {
  width: 110px;
  height: 41px;
}

/* PC */
@media screen and (min-width: 1200px) {
  .CalculatePage_PcHide {
    display: none !important;
  }
}


/* Mobile */
@media screen and (max-width: 991px) {
  .CalculatePage_MobileHide {
    display: none !important;
  }

  .CalculatePage_Btn1 {
    width: 80px !important;
    padding: 10px 1px 10px 1px !important;
  }

  .CalculatePage_Btn2 {
    width: 130px !important;
  }

  .CalculatePage_Btn3 {
    width: 70px !important;
  }
}
